<li class="house-card">
  <a href="/house/<%= house.id %>">
    <img
      src="https://fdnd-agency.directus.app/assets/<%= house.poster_image %>"
      alt="<%= house.title %>"
    />
    <div>
      <h2><%= house.street %> <%= house.house_nr %></h2>
      <span>
        <% if (house.summary) { %> 
          <%= house.summary %> 
        <% } else { %> 
          Geen samenvatting beschikbaar 
        <% } %>
      </span>
      <span class="price">€<%= house.price %></span>
      <span class="underlined">Bekijken</span>
      <form class="rating-form" data-current-rating="<%- Math.floor(Math.random() * 6) %>">
        <button type="submit" formaction="/rate/<%= house.id %>/1"><%- include('star-icon') %></button>
        <button type="submit" formaction="/rate/<%= house.id %>/2"><%- include('star-icon') %></button>
        <button type="submit" formaction="/rate/<%= house.id %>/3"><%- include('star-icon') %></button>
        <button type="submit" formaction="/rate/<%= house.id %>/4"><%- include('star-icon') %></button>
        <button type="submit" formaction="/rate/<%= house.id %>/5"><%- include('star-icon') %></button>
      </form>
    </div>
  </a>
</li>
